{% extends 'base.html.twig' %}

{% block title %}Plateformweb{% endblock %}

{% block body %}
<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">Bonjour, je suis<br> FERRERO Franck ! <br> Développeur Web</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ asset('images/illustrations/leaf-bg.png') }}" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ asset('images/illustrations/leaf-yellow.png') }}" alt="bg-shape ">
  </div>
  <div class="layer" id="l6">
    <img src="images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">Afin d'atteindre vos objectifs, je vous accompagne dans la réussite de votre projet pour la création ou la refonte de votre site internet. Profitez d'une approche globale et de conseils dans les choix techniques de votre projet pour un site web professionnel, sur mesure et à votre image.
Avec 6 années d'expérience et un BTS en développement web et web mobile spécialisé en php, je couvre autant les développements sur des framework comme symfony et laravel, que sur des cms comme wordpress, prestashop et joomla. </p>
        <a href="{{ path('about') }}" class="btn btn-transparent">En savoir plus ?</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
 
<!-- skills -->
<section class="section pb-0">
  <div class="container">
      <div class="col-lg-12 text-center">
        <h3 class="section-title">Logiciels que j'utilise</h3>
      </div>
    <div class="client-logo-slider d-flex align-items-center">
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-1.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-2.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-3.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-4.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-5.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-6.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-7.png" alt="client-logo"></a>
      <a href="{{ path('contact') }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="images/clients-logo/client-logo-8.png" alt="client-logo"></a>
    </div>
  </div>
</section>
<!-- /skills -->





<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-layout-sidebar-right icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Projet Responsive</h4>
            <p>De nos jours, encore beaucoup de foyers ne possèdent pas d'ordinateur. Afin d'atteindre un maximum de personnes et quelque soit la nature de vos projets, tous les développements de vos sites et applications seront responsives pour être adaptés à tous types d'écrans. Tablettes, smartphones et ordinateurs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-harddrives icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Hébergement</h4>
            <p>Hébergement en option sur mes propres serveurs de hautes performances situés en France pour 
            une disponibilité et une qualité optimales. <br>
A partir de 5€ HT/mois sans engagement</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-bar-chart icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">SEO</h4>
            <p>Découvrez quels sont les axes d'amélioration et les opportunités sur lesquelles il est prioritaire d'intervenir pour accélérer la croissance de votre site internet.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-headphone-alt icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Maintenance</h4>
            <p>Après la mise en production, je vous suis et vous apporte si besoin sans supplément pendant une durée de 1 mois, toutes les modifications 
            ou bugs que vous pouvez remarquer ou rencontrer qui sont liés au développement de votre projet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services -->

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="images/portfolio/item-1.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="#!">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="images/portfolio/item-2.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="#!">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="images/portfolio/item-3.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="#!">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="images/portfolio/item-4.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="#!">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="images/portfolio/item-5.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="#!">view project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-layout-sidebar-right icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Projet Responsive</h4>
            <p>De nos jours, encore beaucoup de foyers ne possèdent pas d'ordinateur. Afin d'atteindre un maximum de personnes et quelque soit la nature de vos projets, tous les développements de vos sites et applications seront responsives pour être adaptés à tous types d'écrans. Tablettes, smartphones et ordinateurs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-harddrives icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Hébergement</h4>
            <p>Hébergement en option sur mes propres serveurs de hautes performances situés en France pour 
            une disponibilité et une qualité optimales. <br>
A partir de 5€ HT/mois sans engagement</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-bar-chart icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">SEO</h4>
            <p>Découvrez quels sont les axes d'amélioration et les opportunités sur lesquelles il est prioritaire d'intervenir pour accélérer la croissance de votre site internet.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-headphone-alt icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Maintenance</h4>
            <p>Après la mise en production, je vous suis et vous apporte si besoin sans supplément pendant une durée de 1 mois, toutes les modifications 
            ou bugs que vous pouvez remarquer ou rencontrer qui sont liés au développement de votre projet.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-headphone-alt icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Maintenance</h4>
            <p>Après la mise en production, je vous suis et vous apporte si besoin sans supplément pendant une durée de 1 mois, toutes les modifications 
            ou bugs que vous pouvez remarquer ou rencontrer qui sont liés au développement de votre projet.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-headphone-alt icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Maintenance</h4>
            <p>Après la mise en production, je vous suis et vous apporte si besoin sans supplément pendant une durée de 1 mois, toutes les modifications 
            ou bugs que vous pouvez remarquer ou rencontrer qui sont liés au développement de votre projet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Qui je suis ?</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">Développeur Web depuis 5 ans, venant de Marseille et ancien restaurateur.</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block " media="(max-width: 200px)" src="images/testimonial/client-1.png"
            alt="client-image">
          <h4 class="text-white">Ferrero Franck</h4>
          <h6 class="text-light mb-4">Développeur Web</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
  <img src="images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="images/illustrations/leaf-pink-round.png" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
<!-- /testimonial -->

<!-- client logo slider -->
<!-- /client logo slider -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Blogs</h2>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="images/blog/post-3.jpg" alt="post-thumb">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="blog-single.html">Amazon increase income 1.5 Million</a>
            </h4>
            <p class="cars-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="images/blog/post-4.jpg" alt="post-thumb">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="blog-single.html">Amazon increase income 1.5 Million</a>
            </h4>
            <p class="cars-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="images/blog/post-2.jpg" alt="post-thumb">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="blog-single.html">Amazon increase income 1.5 Million</a>
            </h4>
            <p class="cars-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Me contacter</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Formulaire</h4>
          <form action="#" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Nom Prénom" class="form-control px-0 mb-4" required>
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Adresse e-mail" class="form-control px-0 mb-4" required>
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Écrivez ici" required></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{% endblock %}
