{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.jeSuis)}}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{form_row(registrationForm.compte)}}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.newsletter) }}
        <button type="submit" class="btn btn-primary">Insciription</button>
       
    {{ form_end(registrationForm) }}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $(document).on('click', 'input[name="registration_form[jeSuis]"]', function() {
            var option = $(this).val();
            console.log(option);
            if (option === true) {
                $('#registration_form_compte_siret').hide();
            }else if(option === false) {
                $('#registration_form_compte_siret').show();
            }
        });
    });
</script>
{% endblock %}

{% endblock %}
