{% extends 'base.html.twig' %}

{% block title %}Hello DevisController!{% endblock %}

{% block body %}
{{dump(form)}}
<div class="p-5">
    <form method="POST">
        <h1 class="mb-5">Devis</h1>
        {% for section in form %}
        <div class="mb-5">
            <h5><div>{{section.label}}</div></h5>


            {% for tab in section.tabs %}
            <div class="form-group">
                <label for="{{tab.slug}}">{{ tab.label }}</label>
                {% if tab.type == "text" %}
                <input type="text" class="form-control" placeholder="{{ tab.placeholder is defined ? tab.placeholder : ''}}" name="{{ tab.slug }}" id="{{tab.slug}}">
                {% endif %}


                {% if tab.type == "date" %}
                <input type="date" class="form-control name="{{ tab.slug }}"">
                {% endif %}

                {% if tab.type == "email" %}
                <input type="email" class="form-control" name="{{ tab.slug }}" placeholder="{{ tab.placeholder is defined ? tab.placeholder : ''}}">
                {% endif %}

                {% if tab.type == "password" %}
                <input type="password" class="form-control" name="{{ tab.slug }}" placeholder="{{ tab.placeholder is defined ? tab.placeholder : ''}}">
                {% endif %}

                {% if tab.type == "textarea" %}
                <textarea id="{{ tab.slug }}" class="form-control" name="{{ tab.slug }}" placeholder="{{ tab.placeholder is defined ? tab.placeholder : ''}}"></textarea>
                <small id="emailHelp" class="form-text text-muted">{{ tab.help }}.</small>
                {% endif %}

                {% if tab.type == "file" %}
                <input type="file" class="form-control" name="{{ tab.slug }}">
                {% endif %}

                {% if tab.type == "number" %}
                <input type="number" class="form-control" name="{{ tab.slug }}">
                {% endif %}

                {% if tab.type == "color" %}
                    <input type="color" class="form-control" style="width:100px" name="{{ tab.slug }}">
                {% endif %}


                {% if tab.type == "datetime-local" %}
                <input type="datetime-local" class="form-control" name="{{ tab.slug }}">
                {% endif %}

                {% if tab.type == "radio" %}
                    {% for option in tab.options %}
                    <label for="{{ tab.slug }}">{{option.label}}</label>
                    <input type="radio" class="form-checkbox" id="{{ tab.slug }}" name="{{ tab.slug }}" value="{{option.value}}">
                    {% endfor %} 
                {% endif %}

                {% if tab.type == "multicheckbox" %}
                    {% for box in tab.options %}
                    <label for="{{ tab.slug }}">{{box.label}}</label>
                    <input type="checkbox" id="{{ tab.slug }}" name="{{ tab.slug }}" value="{{box.value}}">
                    {% endfor %} 
                {% endif %}

                {% if tab.type == "checkbox" %}

                    <input type="checkbox" id="{{ tab.slug }}" name="{{ tab.slug }}">
                {% endif %}

                 {% if tab.type == "select" %}
                    <select name="{{ tab.slug }}" id="{{ tab.slug }}" class="form-control">
                    <option>Choix</option>
                    {% for select in tab.options %}
                    <option value="{{ select.value }}">{{select.label}}</option>
                    {% endfor %}
                    </select>
                {% endif %}
                </div>

            {% endfor %}    

        </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">Envoyer</button>
    </form>
</div>
{% endblock %}