{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
{{dump(blogs)}}

<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-14 text-center">
        <h1 class="text-white font-tertiary">Blogs</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<!-- blog -->

<p class="mb-0 text-muted">
</p>

<div class="col-12">
<section class="section">
  <div class="container">
    <div class="row">
    {% for blog in blogs %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
           <a href="{{ path('blog_show', {'slug':blog.slug}) }}"><img src="{{ asset('images/blog/main-blog/' ~ blog.image) }}" alt=""></a>
            <div class="card-body">
              <h3>
                {{ blog.title }}
              </h3>
              </h4>
              {{ blog.content|u.truncate(200, '...', false)}}
              <a href="{{ path('')" class="btn btn-xs btn-primary">Read More</a>
              <p class="h6 text-uppercase text-muted mb-0 ms-auto">
  <date datetime="2021-11-26">Ajoutée le {{ blog.creatAt|date('Y-m-d H:i:s')}}
            </div>
          </article>
        </div>
        {% endfor %}
      
    


    </div>
  </div>
</section>

<!-- /blog -->



{% endblock %}
   