{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('fr') }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
		 <link rel="stylesheet" href="{{ asset('plugins/bootstrap/bootstrap.min.css') }}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{ asset('plugins/slick/slick.css') }}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ asset('plugins/themify-icons/themify-icons.css') }}">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/aos.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ path('home') }}"><img src="{{ asset('images/favicon/favicon_64x64.png') }}" alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="*">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="*">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
        {% block body %}{% endblock %}
		<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary"><a href="tel:+33664178235">ferrerofranck@plateformweb.com</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light text-center">Télephone</h5>
          <p class="text-white paragraph-lg font-secondary text-center"><a href="tel:+33664178235">+33 6 64 17 82 35</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light text-right">Adresse</h5>
          <p class="text-white paragraph-lg font-secondary text-right">69 Rue Titi ou Tata, 12345 Townville</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a class="text-white-50" href="Themefisher">Franck le #boss</a></p>
  </div>
</footer>
<!-- /footer -->
<!-- jQuery -->
<script src="{{ asset('plugins/jQuery/jquery.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('plugins/bootstrap/bootstrap.min.js') }}"></script>
<!-- slick slider -->
<script src="{{ asset('plugins/slick/slick.min.js') }}"></script>
<!-- filter -->
<script src="{{ asset('plugins/shuffle/shuffle.min.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>

<!-- Main Script -->
<script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
