{% extends 'base.html.twig' %}

{% block title %}Projets Entier{% endblock %}

{% block body %}

<h1>{{ projets.title }}</h1>
<p>{{ projets.metades }}</p><hr>
<img src="{{ projets.image }}" alt="image-portfolio">
<p>{{ projets.content }}</p>
<a href="{{ projets.url }}">Lien projets</a>

<a href="{{ projets.github }}">Lien Github du projets</a>
{% endblock %}