{% extends 'base.html.twig' %}
{% block title %}Projets Entier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{ projets.title }}</h1>
    <div class="my-5"> 
        <p class="text-center">{{ projets.metades }}</p><hr>
        <div class="image">
            <img src="https://blog.vacancesweb.be/wp-content/uploads/2021/09/chan_copy1.jpg" alt="image-portfolio" class="img-fluid">
        </div>
        <div class="projets">
            <p>{{ projets.content }}</p>
            <a href="{{ projets.url }}" class="mr-3">Lien projets</a>
            <a href="{{ projets.github }}">Lien Github du projets</a>
        </div> 
    </div>
</div>
{% endblock %}